{% load static %}

<footer class="bg-secondary da-section">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-5">
          <div class="h2 mb-4">MusiKita.com</div>
          <p class="mb-3">info@MusiKita.com</p>
          <p>+1 502-257-1157</p>
        </div>
        <div class="col-md-4">
          <div class="h6 pb-2">Follow Us</div>
          <ul>
            <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-twitter" aria-hidden="true"></i><span class="ml-2">Twitter</span></a></li>
            <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i><span class="ml-2">Facebook</span></a></li>
            <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-instagram" aria-hidden="true"></i><span class="ml-2">Instagram</span></a></li>
            <li class="mb-1"><a class="da-social-link" href="#"><i class="fab fa-youtube" aria-hidden="true"></i><span class="ml-2">Youtube</span></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="h6 pb-4">Copyright</div>
          <p class="pb-1">&copy; Musikita.com. All rights reserved.</p>
          <p>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
        </div>
      </div>
    </div>
  </footer>

<script src="{% static 'vendor2/scripts/jquery.min.js' %}"></script>
<script src="{% static 'vendor2/scripts/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor2/scripts/aos.js' %}"></script>
<script src="{% static 'vendor2/scripts/ekko-lightbox.min.js' %}"></script>
<script src="{% static 'vendor2/scripts/main.js' %}"></script>
<script src="{% static 'vendor2/scripts/custom.js' %}"></script>
