{% load static %}

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
<noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap"/>
</noscript>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<!-- <meta name="viewport"
content="width=device-width, initial-scale=1">  -->

<link href="{% static 'vendor2/css/navbarCust.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/font-awesome/css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/aos.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/ekko-lightbox.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/main.css' %}" rel="stylesheet">
<link href="{% static 'vendor2/css/customs.css' %}" rel="stylesheet">

<noscript>
  <style type="text/css">
    [data-aos] {
        opacity: 1 !important;
        transform: translate(0) scale(1) !important;
    }
  </style>
</noscript>
