{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    {% include "snippets/headImport.html" %}
</head>
<body>
    {% include "snippets/navbar.html" %}

      <div class="da-section pt-3" id="services">
        <div class="da-services pl-5 pr-5">
          <div class="separator pb-2"><div class="h3 text-center" data-aos="fade-up" data-aos-duration="500" >Search Result for 'Taylor'</div></div>
            {% comment %} <div class="d-flex flex-row">
              <div class="p-2">
                <div class="dropdown pl-5 ml-5">
                  <button class="btn dropdown-toggle" style="background: #f9f9f9;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Rating</a>
                    <a class="dropdown-item" href="#">Latest Release</a>
                    <a class="dropdown-item" href="#">Range Price</a>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                 <article class="filter-group">
                 	<div class="card-header">
                      <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed">
                        <div class="row">
                          <div class="col">
                            <h6 class="title">Price</h6>
                          </div>
                          <div class="col">
                            <i class="icon-control fa fa-chevron-down"></i>
                          </div>
                        </div>
                      </a> 
                    </div>
                     <div class="filter-content collapse" id="collapse_aside2" style="">
                         <div class="card-body"> 
                             <div class="form-row">
                                 <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" placeholder="Rp." type="number"> </div>
                                 <div class="form-group col-md-6"> <label>Max</label> <input class="form-control" placeholder="Rp." type="number"> </div>
                             </div>
                         </div>
                     </div>
                 </article>
                 <article class="filter-group">
                 	<div class="card-header">
                      <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false">
                        <div class="row">
                          <div class="col">
                            <h6 class="title">Category</h6>
                          </div>
                          <div class="col">
                            <i class="icon-control fa fa-chevron-down"></i>
                          </div>
                        </div>
                         </a>
                    </div>
                     <div class="filter-content collapse" id="collapse_aside4" style="">
                         <div class="card-body"> 

                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Acoustic </div>
                             </label> 
                             
                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Electric </div>
                             </label> 
                             
                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Percussion</div>
                             </label> 
                             
                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Keys & midi</div>
                             </label>

                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Recording Kit</div>
                             </label>

                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Sound System</div>
                             </label>

                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">Accessories</div>
                             </label>

                             <label class="custom-control"> 
                                 <input type="checkbox" class="custom-control-input">
                                 <div class="custom-control-label">DAW & Plugins</div>
                             </label>
                     </div>
                 </article>
                  <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</a>
             </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="#" style="color: black;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{% static 'img/ellieJoel.jpg' %}" alt="image"/>
                          </div>
                          <div class="w-auto p-3 bg-success text-white">80</div>
                          <div class="h5 pt-2">Pamela Lopez</div>
                          <p>Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>





          <div class="d-flex flex-row-reverse">
            <div class="p-2">
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <span class="page-link">
                          2
                          <span class="sr-only">(current)</span>
                        </span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
            </div>
          </div>
        </div>
        
      </div>



    {% include "snippets/footerAndScripts.html" %}
</body>



</html>