{% load static %}

<nav class="sticky-top" id="navbar_top">
  <div class="wrapper">
    <div class="top_nav">
        <div class="left">
        <div class="d-flex flex-row">
            <div class="p-2"><div class="logo">
              <a href="{% url 'dashboard' %}" style="text-decoration: none;">
                <p><span>Musi</span>Kita.com</p></div>
              </a>
            </div>
            <div class="p-2">
              <div class="container">
                <div class="search-data">
                  <form action="#"> 
                    <input type="text" required>
                      <div class="line" style="width: 77%;"></div>
                      <label>type to search</label>
                    <span class="fa fa-search" style="width: 50%;"></span>
                  </form>
                </div>
              </div>

            </div>
        </div>

      </div> 
      <div class="right">
        <ul>
          {% if user.is_authenticated %}

            {% if request.user.groups.all.0.name == 'Admin' %}
              <li><a href="{% url 'addProduct' %}">Add Product</a></li>
              <li><a href="{% url 'userApproveList' %}">User Pending</a></li>  
            {% endif %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">profile</a>
                <a class="dropdown-item" href="{% url 'logoutUser' %}">Logout</a>
              </div>
            </li>

          {% else %}
            <li><a href="#">Whats Next</a></li>
            <li><a href="#signUpModal" data-toggle="modal" data-target="#signUpModal">Sign Up</a></li>
            <li><a href="#loginModal" data-toggle="modal" data-target="#loginModal">LogIn</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="bottom_nav">
      <nav class="navbar">
        <ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acoustic
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Acoustic' subCategoryName='Guitar' %}">Guitar</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Acoustic' subCategoryName='Bass' %}">Bass</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Acoustic' subCategoryName='Orchestra instruments' %}">Orchestra instruments</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Acoustic' %}">Show all</a> 
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electric
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Electric' subCategoryName='Guitar' %}">Guitar</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Electric' subCategoryName='Bass' %}">Bass</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Electric' subCategoryName='Orchestra instruments' %}">Orchestra instruments</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Electric' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Percussion
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Electric drums' %}">Electric drums</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Tom' %}">Tom</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Cymbal' %}">Cymbal</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Hat' %}">Hat</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Snare' %}">Snare</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Percussion' subCategoryName='Bass Drum' %}">Bass Drum</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Percussion' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Keys & Midi
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Keys & Midi' subCategoryName='Piano' %}">Piano</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Keys & Midi' subCategoryName='Keyboard' %}">Keyboard</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Keys & Midi' subCategoryName='MIDI keyboard' %}">MIDI keyboard</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Keys & Midi' subCategoryName='Synthesizer' %}">Synthesizer</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Keys & Midi' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recording Kit
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Recording Kit' subCategoryName='Microphone' %}">Microphone</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Recording Kit' subCategoryName='Audio Interface' %}">Audio Interface</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Recording Kit' subCategoryName='Monitor Speaker' %}">Monitor Speaker</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Recording Kit' subCategoryName='Headphone' %}">Headphone</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Recording Kit' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sound System
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Sound System' subCategoryName='Speaker' %}">Speaker</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Sound System' subCategoryName='Mixer' %}">Mixer</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Sound System' subCategoryName='Amplifier' %}">Amplifier</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Sound System' subCategoryName='Processor' %}">Processor</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Sound System' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Accessories' subCategoryName='String' %}">String</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Accessories' subCategoryName='Tuner' %}">Tuner</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Accessories' subCategoryName='Pick' %}">Pick</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Accessories' subCategoryName='Capo' %}">Capo</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='Accessories' subCategoryName='Other' %}">Other</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='Accessories' %}">Show all</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DAW & Plugins
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='DAW & Plugins' subCategoryName='Daw Software' %}">Daw Software</a>
              <a class="dropdown-item" href="{% url 'subcategory' categoryName='DAW & Plugins' subCategoryName='Plugins' %}">Plugins</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'category' categoryName='DAW & Plugins' %}">Show all</a>
            </div>
          </li>
          
        </ul>
      </nav>

    </div>
  </div>
</nav>










