{% load static %}

<script src="{% static 'vendor2/scripts/jquery.min.js'%}"></script>
<script src="{% static 'vendor2/scripts/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'vendor2/scripts/aos.js'%}"></script>
<script src="{% static 'vendor2/scripts/ekko-lightbox.min.js'%}"></script>
<script src="{% static 'vendor2/scripts/main.js'%}"></script>
<script src="{% static 'vendor2/scripts/seeMoreScript.js'%}"></script>
<script src="{% static 'vendor2/scripts/custom.js'%}"></script>
<script src="{% static 'vendor2/scripts/rating.js'%}"></script>