{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About Us</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {% include "snippets/headImport.html" %}
</head>
<body id="top">
      
  {% include "snippets/navbar.html" %}
    
    <div class="bg-light pl-5 pr-5">
      <div class="pb-5">
      </div>
      <div class="container da-gallery pb-5" id="gallery">
        <div class="row">
          <div class="col-md-8" data-aos="fade-up">
                  
                  
          </div>
        </div>

    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="container text-center" data-aos="fade-up">
            <h3>Tentang MusiKita</h3>
            <p class="text-justify">&emsp;&emsp;&emsp;MusiKita.com merupakan sebuah platform untuk memberikan review dan mendapatkan informasi secara luas mengenai produk yang bersangkutan dengan instrumen dan perangkat musik dari banyak user yang telah menggunakan  produk tersebut. Pada aplikasi yang penulis buat, aplikasi ini menyajikan review dari dua perspektif yang berbeda, yaitu dari user biasa dan toko musik umum yang bertempatkan di Indonesia dan telah memiliki nama atau kredibilitas untuk me-review produk tersebut, agar calon pembeli yang ingin membeli produk tersebut dapat mempertimbangkan kembali untuk membeli setelah melihat dan membaca review dari dua perspektif yang berbeda. </p> 
          </div>
        </div>
        <div class="col">
          <div class="container text-center" data-aos="fade-left">
            <img src="{% static 'img/logo.png' %}" style="width: 70%; height: 70%;" alt="">
          </div>
        </div>
      </div>
    </div>


      </div>
    </div>

    {% include "snippets/footerAndScripts.html" %}


</body>
</html>