{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hot Products</title>

    {% include "snippets/headImport.html" %}
</head>
<body>
    {% include "snippets/navbar.html" %}
      <div class="da-section pt-3" id="services">
        <div class="da-services pl-5 pr-5">
          <div class="separator pb-2"><div class="h3 text-center" data-aos="fade-up" data-aos-duration="500" >Hot Products</div></div>

          <div class="row">
            <div class="col">
              <div class="row">
                  {% for obj in productList %}
                    <div class="col-lg-3 col-md-6">
                      <div class="card mb-3">
                        <a href="{% url 'showProduct' brand=obj.brandId.brandName productName=obj.productName %}" style="color: black;text-decoration: none;">
                          <div class="container">
                            <div class="card-body py-5" >
                              <div class="text-primary">
                                <img class="card-img-top" src="{{ obj.productIMG.url }}" alt="image"/>
                              </div>
                                {% if obj.avgScore == None %}
                                  <div><div class='boxEditor grey' style="margin-top:-3px"><h6>Tba</h6></div></div>
                                {% elif obj.avgScore <= 10 and obj.avgScore >= 8 %}
                                  <div><div class='boxEditor green' style="margin-top:-3px"><h6>{{obj.avgScore }}</h6></div></div>
                                {% elif obj.avgScore < 8 and obj.avgScore >= 5 %}
                                  <div><div class='boxEditor yellow' style="margin-top:-3px"><h6>{{obj.avgScore }}</h6></div></div>
                                {% else %}
                                  <div><div class='boxEditor red' style="margin-top:-3px"><h6>{{obj.avgScore }}</h6></div></div>
                                {% endif %}

                              <div class="h5 pt-2">{{ obj.productName }}</div>
                              <p><span class="more">{{ obj.description }}</span></p>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>

                  <div class="d-flex flex-row-reverse">
                      <div class="p-2">
                            <nav aria-label="...">
                              <ul class="pagination">
                                <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{prev_page_url}}">Previous</a>
                                </li>

                                {% for n in productList.paginator.page_range %}
                                  {% if productList.number == n %}
                                    <li class="page-item active"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                                  {% elif n > productList.number|add:-3 and n < productList.number|add:3 %}
                                    <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                                  {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{next_page_url}}">Next</a>
                                </li>
                              </ul>
                            </nav>
                      </div>
                  </div>


        </div>
      </div>
    {% include "snippets/footerAndScripts.html" %}
</body>
</html>
