{% load static %}
{% load bootstrap %}
{% load advancesearch_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% include "snippets/headImport.html" %}
</head>
<body>
    {% include "snippets/navbar.html" %}

      <div class="da-section pt-3" id="services">
        <div class="da-services pl-5 pr-5">
          <div class="separator pb-2">
            {% if productName != '' %}
              <div class="h3 text-center" data-aos="fade-up" data-aos-duration="500" >Search Result for '{{productName}}'</div>
            {% else %}
              <div class="h3 text-center" data-aos="fade-up" data-aos-duration="500" >Search Product</div>
            {% endif %}
          </div>
             <div class="d-flex flex-row-reverse">
            </div> 
          <div class="row">
            <div class="col-md-3">
              <form method='GET'>
                {{filter.form|bootstrap}}
  
                <div class="d-flex flex-row-reverse bd-highlight pb-5">
                    <div class="p-2 bd-highlight">
                        <button type="submit" class="greenbutton">Add</button>
                    </div>
                </div>
              </form>
            </div>
            <div class="col">
              <div class="row">

            {% if productList|length == 0 %}
              <div class="col-lg-3 col-md-6 pt-5">
                  <p>Product that you search was unavailable</p>
              </div>
            {% else %}
              {% for obj in productList %}
                <div class="col-lg-3 col-md-6">
                  <div class="card mb-3">
                    <a href="{% url 'showProduct' brand=obj.brandId.brandName productName=obj.productName %}" style="color: black; text-decoration: none;">
                      <div class="container">
                        <div class="card-body py-5" >
                          <div class="text-primary">
                            <img class="card-img-top" src="{{obj.productIMG.url}}" alt="image"/>
                          </div>

                          {% if obj.avgScore == None %}
                            <div class="w-auto p-3 text-white" style="background-color:rgba(135, 135, 135, 1);"><b>Tba</b></div>
                          {% elif obj.avgScore <= 10 and obj.avgScore >= 8 %}   
                            <div class="w-auto p-3 bg-success text-white">{{ obj.avgScore }}</div>
                          {% elif obj.avgScore < 8 and obj.avgScore >= 5 %}
                            <div class="w-auto p-3 bg-warning text-white"><b>{{ obj.avgScore }}</b></div>
                          {% else %}
                            <div class="w-auto p-3 bg-danger text-white"><b>{{ obj.avgScore }}</b></div>
                          {% endif %} 
                          
                          <div class="h5 pt-2">{{ obj.productName }}</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            </div>
          </div>

        </div>





                  <div class="d-flex flex-row-reverse">
                      <div class="p-2">
                            <nav aria-label="...">
                              <ul class="pagination">
                                <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{% my_url prev_page_url 'page' request.GET.urlencode %}">Previous</a>
                                </li>

                                {% for n in productList.paginator.page_range %}
                                  {% if productList.number == n %}
                                    <li class="page-item active"><a class="page-link" href="{% my_url n 'page' request.GET.urlencode %}">{{n}}</a></li>
                                  {% elif n > productList.number|add:-3 and n < productList.number|add:3 %}
                                    <li class="page-item"><a class="page-link" href="{% my_url n 'page' request.GET.urlencode %}">{{n}}</a></li>
                                  {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{% my_url next_page_url 'page' request.GET.urlencode %}">Next</a>
                                </li>
                              </ul>
                            </nav>
                      </div>
                  </div>
        </div>
        
      </div>


    <script src="{% static 'vendor2/scripts/dropdownFilter.js'%}"></script>
    {% include "snippets/footerAndScripts.html" %}
</body>



</html>