{% load static %}
{% load embed_video_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rating</title>
    {% include "snippets/headImport.html" %}
</head>
<body>
  {% include "snippets/navbar.html" %}    
    <div class="container">
        <div class="main-body">        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">

                      {% if User.roleId == 'Reg_User' %}
                        {% if User.profilePicture != '' %}
                          <img src="{{ User.profilePicture.url }}" alt="Admin" class="rounded-circle" width="150">
                        {% else %}
                          <img src="{% static 'img/profPic.jpg' %}" alt="Admin" class="rounded-circle" width="150">
                        {% endif %}

                        <div class="mt-3">
                          <h4>{{User.userName}}</h4>
                          <p><span class="moreDesc">{{User.description}}</span></p>
                          {% if user.is_authenticated and request.user.username == User.userName%}  
                            <div class="p-2 bd-highlight"><a class="greenbutton" href="{% url 'editProfilePicture' userName=User.userName %}" style="text-decoration: none;">Edit Profile Picture</a></div>
                            <div class="p-2 bd-highlight"><a class="greenbutton" href="{% url 'editUserData' userName=User.userName %}" style="text-decoration: none;">Edit Account Data</a></div>
                          {% endif %}
                        </div>
                      {% else %}
                        {% if User.userID.profilePicture != '' %}
                          <img src="{{ User.userID.profilePicture.url }}" alt="Admin" class="rounded-circle" width="150">
                        {% else %}
                          <img src="{% static 'img/profPic.jpg' %}" alt="Admin" class="rounded-circle" width="150">
                        {% endif %}

                        <div class="mt-3">
                         
                          <h4>{{User.userID.userName}}</h4>
                          <p><span class="moreDesc">{{User.userID.description}}</span></p>
                          
                          <p class="pt-3"><strong>Address</strong></p>
                          <td><span class="more">{{User.address}}</span></td>    

                          <p class="pt-3"><strong>Email</strong></p>
                          <td>{{User.userID.email}}</td> 

                          <p class="pt-3"><strong>Contact</strong></p>
                          <td>{{User.contact}}</td>    
                          
                          {% if user.is_authenticated and request.user.username == User.userID.userName%}  
                            <div class="p-2 bd-highlight"><a class="greenbutton" href="{% url 'editProfilePicture' userName=User.userID.userName %}" style="text-decoration: none;">Edit Profile Picture</a></div>
                            <div class="p-2 bd-highlight"><a class="greenbutton" href="{% url 'editUserData' userName=User.userID.userName %}" style="text-decoration: none;">Edit Account Data</a></div>
                          {% endif %}
                        </div>
                      {% endif %}

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                <div class="card mb-3">
                    <h3 class="pl-3 pt-3">Review Summary</h3>
                    {% if userData.0 == None %}
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="container text-center">
                            <h6>Positive</h6>
                            <h4 class="text-success">0</h4>
                          </div>
                        </div>
                        <div class="col">
                          <div class="container text-center">
                            <h6>Mixed</h6>
                            <h4 class="text-warning">0</h4>
                          </div>
                        </div>
                        <div class="col">
                          <div class="container text-center">
                            <h6>Negative</h6>
                            <h4 class="text-danger">0</h4>
                          </div>
                        </div>
                      </div>
                      <hr>

                      <div class="row">
                        <div class="col">
                          <div class="container text-center">
                            <h6>Latest High Score</h6>
                            <div class="container d-flex justify-content-center">
                                <div class="p-3">
                                    <div class="w-100 p-3 text-white text-center" style="background-color:rgba(135, 135, 135, 1);"><b>Tba</b></div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <h6>Latest Low Score</h6>
                                <div class="container d-flex justify-content-center">
                                    <div class="p-3">
                                      <div class="w-100 p-3 text-white text-center" style="background-color:rgba(135, 135, 135, 1);"><b>Tba</b></div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="container text-center">
                            <h6>Positive</h6>
                            <h4 class="text-success">{{userData.0.positive}}</h4>
                          </div>
                        </div>
                        <div class="col">
                          <div class="container text-center">
                            <h6>Mixed</h6>
                            <h4 class="text-warning">{{userData.0.mixed}}</h4>
                          </div>
                        </div>
                        <div class="col">
                          <div class="container text-center">
                            <h6>Negative</h6>
                            <h4 class="text-danger">{{userData.0.negative}}</h4>
                          </div>
                        </div>
                      </div>
                      <hr>

                      <div class="row">
                        <div class="col">
                          <div class="container text-center">
                            <h6>Latest High Score</h6>
                            <div class="container d-flex justify-content-center">
                                <div class="p-3">

                                  {% if userData.0.highestRate <= 10 and userData.0.highestRate >= 8 %}   
                                    <div class="w-100 p-3 bg-success text-white text-center"><b>{{userData.0.highestRate}}</b></div>
                                  {% elif userData.0.highestRate < 8 and userData.0.highestRate >= 5 %}
                                    <div class="w-100 p-3 bg-warning text-white text-center" ><b>{{userData.0.highestRate}}</b></div>
                                  {% else %}
                                    <div class="w-100 p-3 bg-danger text-white text-center" ><b>{{userData.0.highestRate}}</b></div>
                                  {% endif %} 

                                </div>
                            </div>
                              <a style="color:black; text-decoration:none;" href="{% url 'showProduct' brand=userData.0.highRateBrand productName=userData.0.highestRateName %}">
                                <div class="p-4 pt-4"><h5>{{userData.0.highestRateName}}</h5></div>
                              </a>
                          </div>
                        </div>
                        <div class="col">
                            <div class="container text-center">
                                <h6>Latest Low Score</h6>
                                <div class="container d-flex justify-content-center">
                                    <div class="p-3">
                                      {% if userData.0.lowestRate <= 10 and userData.0.lowestRate >= 8 %}   
                                        <div class="w-100 p-3 bg-success text-white text-center"><b>{{userData.0.lowestRate}}</b></div>
                                      {% elif userData.0.lowestRate < 8 and userData.0.lowestRate >= 5 %}
                                        <div class="w-100 p-3 bg-warning text-white text-center" ><b>{{userData.0.lowestRate}}</b></div>
                                      {% else %}
                                        <div class="w-100 p-3 bg-danger text-white text-center" ><b>{{userData.0.lowestRate}}</b></div>
                                      {% endif %} 
                                    </div>
                                </div>
                                <a style="color:black; text-decoration:none;" href="{% url 'showProduct' brand=userData.0.lowestRateBrand productName=userData.0.lowestRateName %}">
                                  <div class="p-4 pt-4"><h5>{{userData.0.lowestRateName}}</h5></div>
                                </a>
                              </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                </div>

                {% if User.userID.roleId == 'Mus_Store' %}
                  <div class="card mb-3">
                    <h3 class="pt-3 pl-3">Music Store Pictures</h3>
                    <div class="d-flex justify-content-center">
                                      
                      <a style="text-decoration: none;" data-toggle="modal" data-target="#imageModal1" href="#">  
                          <div class="container">
                            <div class="card-body py-5">
                              <img src="{{ User.musicStorePicture.url }}" class="img-thumbnail">
                            </div>
                          </div>
                      </a>
                      <div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img width="100%" height="100%" src="{{ User.musicStorePicture.url }}">
                            </div>
                          </div>
                        </div>
                      </div>

                      <a style="text-decoration: none;" data-toggle="modal" data-target="#imageModal2" href="#">
                          <div class="container">
                            <div class="card-body py-5">
                              <img src="{{ User.musicStorePicture2.url }}" class="img-thumbnail">
                            </div>
                          </div>
                      </a>
                      <div class="modal fade" id="imageModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img width="100%" height="100%" src="{{ User.musicStorePicture2.url }}">
                            </div>
                          </div>
                        </div>
                      </div>

                      <a style="text-decoration: none;" data-toggle="modal" data-target="#imageModal3" href="#">
                          <div class="container">
                            <div class="card-body py-5">
                              <img src="{{ User.musicStorePicture3.url }}" class="img-thumbnail">
                            </div>
                          </div>
                      </a>
                      <div class="modal fade" id="imageModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <img width="100%" height="100%" src="{{ User.musicStorePicture3.url }}">
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                {% endif %}

                  <div class="card mb-3">
                    <h3 class="pl-3 pt-3">Recent Review</h3>


                    <!-- review barangnya -->
                  {% for obj in obj %}
                    <div class="d-flex flex-row">
                          <div class="col pt-4">
                              <img src="{{ obj.productId.productIMG.url }}"  class="img-fluid z-depth-1" >
                          </div>
                          <div class="col-md-9">
                              <div class="container">
                                  <div class="d-flex flex-row">
                                      <div class="p-2">
                                        {% if obj.rating <= 10 and obj.rating >= 8 %}  
                                          <div class="w-100 p-4 bg-success text-white text-center" ><b>{{obj.rating}}</b></div>
                                        {% elif obj.rating < 8 and obj.rating >= 5 %}
                                          <div class="w-100 p-4 bg-warning text-white text-center" ><b>{{obj.rating}}</b></div>
                                        {% else %}
                                          <div class="w-100 p-4 bg-danger text-white text-center" ><b>{{obj.rating}}</b></div>
                                        {% endif %}                                       
                                      </div>
                                      <div class="p-2 pt-2"><h5>
                                        <a href="{% url 'showProduct' brand=obj.productId.brandId.brandName productName=obj.productId.productName %}" style="color: black; text-decoration: none;">
                                          {{ obj.productId.productName }}
                                        </a>
                                        </h5>
                                        <div class="d-flex flex-row">

                                          <div class="p-1 pt-2"><p>{{ obj.dtm_crt }}</p></div>
                                          <div class="p-1 pt-2">
                                            {% if request.user.username == User.userName %}
                                              <a href="{% url 'updateReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                <i class="fas fa-edit"></i>
                                              </a>
                                              <a href="{% url 'deleteReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                <i class="fas fa-window-close"></i>
                                              </a>
                                            {% elif request.user.username == User.userID.userName %}
                                              <a href="{% url 'updateReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userID.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                <i class="fas fa-edit"></i>
                                              </a>
                                              <a href="{% url 'deleteReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userID.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                <i class="fas fa-window-close"></i>
                                              </a>                                          
                                            {% elif request.user.groups.all.0.name == 'Admin' %}
                                              {% if User.roleId == "Reg_User" %}
                                                <a href="{% url 'deleteReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                  <i class="fas fa-window-close"></i>
                                                </a>
                                              {% else %}
                                                <a href="{% url 'deleteReview' brand=obj.productId.brandId.brandName productName=obj.productId.productName user_select=User.userID.userName action='profilePage'%}" style="color: black; text-decoration: none;">
                                                  <i class="fas fa-window-close"></i>
                                                </a>
                                              {% endif %}
                                            {% endif %}                                          
                                          </div>
                                        </div>
                                      </div>

                                  </div>
                                  <h6 class="card-title pt-3">{{obj.title}}</h6>
                                  <p class="pt-1 text-justify">
                                    {% if obj.sellStatus == True%}
                                      <strong style="font-size: 15px;">I Sell This Product On My Store</strong>
                                      <br>
                                    {% endif %}
                                    <span class="more">{{ obj.description }}</span>
                                  </p>
                              </div>
                          </div>
                    </div>
                    <hr>
                  {% endfor %}

                  </div>
                  <div class="d-flex flex-row-reverse">
                    <div class="p-2">
                            <nav aria-label="...">
                              <ul class="pagination">
                                <li class="page-item {% if not prev_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{prev_page_url}}">Previous</a>
                                </li>

                                {% for n in obj.paginator.page_range %}
                                  {% if obj.number == n %}
                                    <li class="page-item active"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                                  {% elif n > obj.number|add:-3 and n < obj.number|add:3 %}
                                    <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                                  {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                                  <a class="page-link" href="{{next_page_url}}">Next</a>
                                </li>
                              </ul>
                            </nav>
                        </div>
                    </div>


                  </div>
                

              </div>
            </div>
    </div>
  {% include "snippets/footerAndScripts.html" %}
</body>
</html>