{% load static %}
{% load embed_video_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rating</title>
    {% include "snippets/headImport.html" %}
</head>
<body>
    {% include "snippets/navbar.html" %}    
  <div class="row">
    <div class="col pl-5">
      <div class="container">
        <section class="mb-5 mt-5">
            <div class="row">
              <div class="col-md-5">
                <div class="mdb-lightbox">
                  <div class="row product-gallery mx-1">
                    <div class="col-11 ml-5 pl-5">
                      <figure class="view overlay rounded z-depth-1 main-img">
                        <img src="{{obj.productIMG.url}}"  class="img-fluid z-depth-1" >
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h2 class="pb-3">{{obj.productName}}</h2>
                    <div class="row pb-4">
                        <div class="col">
                            <div class="d-flex flex-row">
                                <div class="p-2">
                                  {% if rateSum.0 == NULL %}  
                                    <div class="w-100 p-3 bg-success text-white text-center" ><b>N/A</b></div>
                                  {% elif rateSum.0.musStoreAvg <= 10 and rateSum.0.musStoreAvg >= 8 %}   
                                    <div class="w-100 p-4 bg-success text-white text-center" ><b>{{rateSum.0.musStoreAvg}}</b></div>
                                  {% elif rateSum.0.musStoreAvg < 8 and rateSum.0.musStoreAvg >= 5 %}
                                    <div class="w-100 p-4 bg-warning text-white text-center" ><b>{{rateSum.0.musStoreAvg}}</b></div>
                                  {% else %}
                                    <div class="w-100 p-4 bg-danger text-white text-center" ><b>{{rateSum.0.musStoreAvg}}</b></div>
                                  {% endif %} 
                                </div>
                                <div class="p-2"><h5>Music Store Review</h5></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-row">
                                <div class="p-2">

                                  {% if rateSum.0 == NULL %}  
                                    <div class="w-100 p-3 bg-success text-white text-center" ><b>N/A</b></div>
                                  {% elif rateSum.0.userAvg <= 10 and rateSum.0.userAvg >= 8 %}   
                                    <div class="w-100 p-4 bg-success text-white text-center" ><b>{{rateSum.0.userAvg}}</b></div>
                                  {% elif rateSum.0.userAvg < 8 and rateSum.0.userAvg >= 5 %}
                                    <div class="w-100 p-4 bg-warning text-white text-center" ><b>{{rateSum.0.userAvg}}</b></div>
                                  {% else %}
                                    <div class="w-100 p-4 bg-danger text-white text-center" ><b>{{rateSum.0.userAvg}}</b></div>
                                  {% endif %} 
                                
                                </div>
                                <div class="p-2"><h5>User Review</h5></div>
                            </div>
                        </div>
                    </div>
                    <p class="pt-1 text-justify">{{obj.description}}</p>
                <div class="table-responsive">

                    <div class="d-flex flex-row">
                        <div class="p-2 pr-5">
                            <table class="table table-sm table-borderless mb-0 mr-5">
                                <tbody>
                                  <tr>
                                    <th class="pl-0 w-25 pr-5" scope="row"><strong>Brand</strong></th>
                                    <td>{{obj.brandId.brandName}}</td>
                                  </tr>
                                  {% comment %} <tr>
                                    <th class="pl-0 w-25" scope="row"><strong>Type</strong></th>
                                    <td>514ce</td>
                                  </tr> {% endcomment %}
                                </tbody>
                              </table>
                        </div>

                        <div class="p-2">
                            {% if not user.is_authenticated %}
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewLoginFirstModal">
                                Submit Your Review
                              </button>
                            {% elif request.user.groups.all.0.name == 'Reg_User' or request.user.groups.all.0.name == 'Mus_Store' %}
                              {% if reviewStatus == "disabled" %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewLoginFirstModal">
                                  Submit Your Review
                                </button>
                              {% else %}
                                <a class="btn btn-primary" href="{% url 'reviewProduct' brand=obj.brandId.brandName productName=obj.productName %}" style="text-decoration: none;">
                                  Submit Your Review
                                </a>
                              {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </section>
        <div class="container-md-5 pb-5">
            <h3 class="pb-3">Video Review</h3>
            <div class="embed-responsive embed-responsive-16by9">
                {% video obj.videoUrl %}
            </div>  
        </div>   
        
    <div class="row">
      <div class="col">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Music Store Reviews</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="da-expertise">
                  <div class="col px-0 mb-4">
                    <p>Positive {{rateSum.0.positive_music}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.positive_music}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col px-0 mb-4">
                    <p>Mixed {{rateSum.0.mixed_music}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.mixed_music}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col px-0 mb-4">
                    <p>Negative {{rateSum.0.negative_music}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.negative_music}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% for mrev in ms_review %}
              <tr>
                <td>
                    <div class="card w-100">
                        <div class="card-header">
                            <div class="d-flex flex-row">
                                  
                                
                                {% if mrev.rating <= 10 and mrev.rating >= 8 %}  
                                  <div class="p-2"><div class="w-100 p-3 bg-success text-white text-center" ><b>{{mrev.rating}}</b></div></div>
                                {% elif mrev.rating < 8 and mrev.rating >= 5 %}
                                  <div class="p-2"><div class="w-100 p-3 bg-warning text-white text-center" ><b>{{mrev.rating}}</b></div></div>
                                {% else %}
                                  <div class="p-2"><div class="w-100 p-3 bg-danger text-white text-center" ><b>{{mrev.rating}}</b></div></div>
                                {% endif %}
                                
                                <div class="p-2 pt-4"><h5>{{mrev.userID.userName}}</h5></div>
                            </div>
                            <div class="pl-2">{{mrev.dtm_crt}}</div>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col"><h5 class="card-title">{{mrev.title}}</h5></div>
                            <div class="col-md-5"><a href="#">Report As Abuse</a></div>
                          </div>
                          <p class="card-text">{{mrev.description}}</p>
                          <a href="#">see more..</a>
                          <div class="row">
                            <div class="col-md-3 mt-2">
                              <p>Helpful?</p>
                            </div>
                            <div class="col">
                              <div class="d-flex flex-row">
                                <div class="p-2"><button type="button" class="btn btn-secondary">Yes</button></div>
                                <div class="p-2"><button type="button" class="btn btn-secondary">No</button></div>
                              </div>
                            </div>
                            <div class="col mt-2">
                              1 of 5 users found this helpful
                            </div>
                          </div>
                        </div>
                      </div>

                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="#"><h3 class="text-center pb-3">See all Music Store Reviews..</h3></a>
      </div>
      <div class="col">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">User Reviews</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="da-expertise">
                  <div class="col px-0 mb-4">
                    <p>Positive {{rateSum.0.positive_user}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.positive_user}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col px-0 mb-4">
                    <p>Mixed {{rateSum.0.mixed_user}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.mixed_user}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col px-0 mb-4">
                    <p>Negative {{rateSum.0.negative_user}}%</p>
                    <div class="progress" style="height: 5px;">
                      <div class="progress-bar" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" style="width: {{rateSum.0.negative_user}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% for urev in user_review %}
              <tr>
                <td>
                  <div class="card w-100">
                    <div class="card-header">
                        <div class="d-flex flex-row">                        
                            {% if urev.rating <= 10 and urev.rating >= 8 %}  
                              <div class="p-2"><div class="w-100 p-3 bg-success text-white text-center" ><b>{{urev.rating}}</b></div></div>
                            {% elif urev.rating < 8 and urev.rating >= 5 %}
                              <div class="p-2"><div class="w-100 p-3 bg-warning text-white text-center" ><b>{{urev.rating}}</b></div></div>
                            {% else %}
                              <div class="p-2"><div class="w-100 p-3 bg-danger text-white text-center" ><b>{{urev.rating}}</b></div></div>
                            {% endif %}

                            <div class="p-2 pt-4"><h5>{{urev.userID.userName}}</h5></div>
                        </div>
                          <div class="pl-2">{{urev.dtm_crt}}</div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col"><h5 class="card-title">{{urev.title}}</h5></div>
                        <div class="col-md-5"><a href="#">Report As Abuse</a></div>
                      </div>
                      <p class="card-text">{{urev.description}}</p>
                      <a href="#">see more..</a>
                      <div class="row">
                        <div class="col-md-3 mt-2">
                          <p>Helpful?</p>
                        </div>
                        <div class="col">
                          <div class="d-flex flex-row">
                            <div class="p-2"><button type="button" class="btn btn-secondary">Yes</button></div>
                            <div class="p-2"><button type="button" class="btn btn-secondary">No</button></div>
                          </div>
                        </div>
                        <div class="col mt-2">
                          1 of 5 users found this helpful
                        </div>
                      </div>
                    </div>
                  </div>

                </td>

              </tr> 
            {% endfor %}
         
          </tbody>
        </table>
        <a href="#"><h3 class="text-center pb-3">See all Music Store Reviews..</h3></a>
      </div>
    </div>
  </div>
    </div>
    <div class="col-md-3 pr-5 mr-3 pt-5">
      <div class="container">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Another Item</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex flex-row">
                  <div class="p-2"><div class="w-100 p-3 bg-success text-white text-center" ><b>88</b></div></div>
                  <div class="p-2 pt-4"><h5><a href="#"> Yamaha CPX100</a></h5></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex flex-row">
                  <div class="p-2"><div class="w-100 p-3 bg-warning text-white text-center" ><b>70</b></div></div>
                  <div class="p-2 pt-4"><h5><a href="#">Taylor CMX12</a></h5></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex flex-row">
                  <div class="p-2"><div class="w-100 p-3 bg-danger text-white text-center" ><b>61</b></div></div>
                  <div class="p-2 pt-4"><h5><a href="#">Cort X12</a></h5></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  {% include "snippets/footerAndScripts.html" %}
</body>
</html>