{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    {% include "snippets/headImport.html" %}
</head>
<body>


    <div class="container">

        <h1 class="pb-5 pt-5">Register > As Music Store</h1>

        <form class="pb-5" method='POST' enctype="multipart/form-data">

            {% csrf_token %}

            {% if messages %}
            
                {% for message in messages %}
                    <div class="alert alert-info"> 
                        {{ message }}
                    </div>
                {% endfor %}
            
            {% endif %}
            <div class="pt-3">
                {{ form.username }}
            </div>
            <div class="pt-3">
                {{ form.address }}
            </div>
            <div class="pt-3">
                {{ form.email }}
            </div>
            <div class="pt-3">
                {{ form.contact }}
            </div>
            <div class="pt-3">
                <div class="input-group" id="show_hide_password">
                  {{ form.password }}
                  <div class="input-group-addon pt-1 pl-1">
                    <a href="" style="color:black;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                  </div>
                </div>
            </div>
            <div class="pt-3">
                <div class="input-group" id="show_hide_password">
                  {{ form.confirm_pass }}
                  <div class="input-group-addon pt-1 pl-1">
                    <a href="" style="color:black;"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                  </div>
                </div>
            </div>

            <h5 class="pt-3">Your Music Store Picture</h5>
            <h6 class="pt-3">Store building photo</h6>
            <div class="pt-3">
              {{ form.musicStorePicture }}
            </div>
            
            <h6 class="pt-3">interior Store photo</h6>
            <div class="pt-3">
              {{ form.musicStorePicture2 }}
            </div>

            <div class="pt-3">
              {{ form.musicStorePicture3 }}
            </div>

            <div class="pt-3">
              <h5>Other Info</h5>
              {{ form.description }}
            </div>

            <div class="d-flex flex-row-reverse bd-highlight pt-3">
              <div class="p-2 bd-highlight"><button type="submit" class="greenbutton">Register</button></div>
            </div>

        </form>


    </div>

    {% include "snippets/scripts.html" %}
</body>



</html>