{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report Review - {{obj.title}}</title>
    {% include "snippets/headImport.html" %}
</head>
<body>
    {% include "snippets/navbar.html" %}   
    <div class="container">

        <h1 class="pb-5 pt-5">Report Review: {{obj.userID.userName}}</h1>

        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-row">    
                    {% if obj.rating <= 10 and obj.rating >= 8 %}  
                        <div class="p-2"><div class="w-100 p-3 bg-success text-white text-center" ><b>{{obj.rating}}</b></div></div>
                    {% elif obj.rating < 8 and obj.rating >= 5 %}
                        <div class="p-2"><div class="w-100 p-3 bg-warning text-white text-center" ><b>{{obj.rating}}</b></div></div>
                    {% else %}
                        <div class="p-2"><div class="w-100 p-3 bg-danger text-white text-center" ><b>{{obj.rating}}</b></div></div>
                    {% endif %}
                                
                    <div class="p-2 pt-4"><h5>{{obj.userID.userName}}</h5></div>
                </div>
                <div class="pl-2">{{obj.dtm_crt}}</div>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{obj.title}}</h5>
                <p class="card-text">{{obj.description}}</p>
            </div>
        </div>
        
        <h5 class="pt-3">Report Reason</h5>
        <div class="pl-2 pt-2"> 
            {% for obj in reportReasonList %}
                <strong><p>- {{obj.reason}}</p></strong>
            {% endfor %}
        </div>

        <h5 class="pt-3">User Who Report this Review</h5>
        <div class="pl-2 pt-2"> 
            {% for obj in reportData %}
                <h6>- {{obj.userID.userName}}</h6>
            {% endfor %}
        </div>

        <div class="d-flex flex-row-reverse bd-highlight pt-3">
            <div class="p-2 bd-highlight"><a type="submit" style="text-decoration: none;color:white;" class="greenbutton" href="{% url 'approveReport' user_select=obj.userID.userName brand=brand productName=productName %}">Approve</a></div>
            <div class="p-2 bd-highlight"><a type="submit" style="text-decoration: none;color:white;" class="redbutton" href="{% url 'rejectReport' user_select=obj.userID.userName brand=brand productName=productName %}">Delete</a></div>
        </div>
            
    </div>

    {% include "snippets/footerAndScripts.html" %}
    
</body>



</html>