{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    {% include "snippets/headImport.html" %}
</head>
<body>

    <div class="container">

        <h1 class="pb-3 pt-5">success</h1>
        <h6>Go Back To <a href="/">Homepage</a></h6>

    </div>

    {% include "snippets/scripts.html" %}
    
</body>



</html>